body{
display-flex;
flex-direction: column; /* met les boites en colones */
}
header , footer{
background-color: #ffeebb;
}
nav{
	width: 100px;
	background-color: #cebfff;
}
#page{
	display: flex;
	flex: 1;
}
#conteneur{
	flex:1 1 auto;
	background-color: darkseagreen;
	display: flex;
	flex-direction: column;
}
article{
	display: flex;
}
p{
	padding: 0 5px;
}